
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
    }

    table caption {							/*Table Main Title*/
      font-size: 3.0em;
      margin-bottom:10px;
      margin-top:10px;
      font-weight: bold;
      color:#38040e;				
    }

    table tr {
      background-color: #ddb892;					/*Table color*/
      border: 1px solid #000;
      padding: .35em;
    }


    table td {
      padding: .625em;
      text-align: center;								
      font-size: 20px;
    }

    table th {								/*Table heading*/
      font-size: 30px;
      letter-spacing: .1em;
      text-transform: uppercase;
      font-weight: bold;
    }

    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }

      table caption {
        font-size: 1.3em;
      }
  
      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
  
      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }
  
      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
      }
  
      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
  
      table td:last-child {
        border-bottom: 0;
      }

    header h1 {
        margin: 0;
        font-size: 30px;
    }

    nav ul {
        font-size: 14px;
    }

    nav li {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    nav a {
        padding: 15px;
    }

header {
    position: absolute;
}

    }
